only-built-dependencies[]=@nestjs/core
only-built-dependencies[]=sharp
only-built-dependencies[]=supabase
only-built-dependencies[]=@nestjs/cli
only-built-dependencies[]=unrs-resolver
only-built-dependencies[]=@scarf/scarf
only-built-dependencies-strict=false
